<!DOCTYPE html>
<html>
<head>
	<title>SKIRPSIONG</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<style type="text/css">
		.card {
			width: 700px;
		}
		.container-fluid {
			height: 669px;
		}
	</style>
</head>
<body>
	<div class="container-fluid d-flex justify-content-center align-items-center">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="text-center"> 
							<h3>Door Access with Face Recognition</h3>
							<!-- <p>this is our final project. hope we can graduated in time :)</p> -->
							<a href="/employees/new" class="btn btn-md btn-primary">Go to main page</a>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>